<footer class="container">
  <div class="site-footer">
    <div class="site-copyright">
      <p> © 2018-2024 </p>
      <p><a href="http://beian.miit.gov.cn/" target="_blank">蒙ICP备17002435号-1</a></p>
    </div>
    <div class="pull-right" style="margin-top: -56px">
      <a href="javascript:window.scrollTo(0,0)">TOP</a>
    </div>
  </div>

  <!-- Third-Party JS -->
  <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/geopattern/1.2.3/js/geopattern.min.js"></script>

  <!-- My JS -->
  <script type="text/javascript" src="/assets/js/script.js"></script>

  {% for javascript in page.javascript %}
  <script src="/assets/js/{{javascript}}"></script>
  {% endfor %}

</footer>

<div id="tp-weather-widget"></div>
<script>
  (function(a,h,g,f,e,d,c,b){b=function(){d=h.createElement(g);c=h.getElementsByTagName(g)[0];d.src=e;d.charset="utf-8";d.async=1;c.parentNode.insertBefore(d,c)};a["SeniverseWeatherWidgetObject"]=f;a[f]||(a[f]=function(){(a[f].q=a[f].q||[]).push(arguments)});a[f].l=+new Date();if(a.attachEvent){a.attachEvent("onload",b)}else{a.addEventListener("load",b,false)}}(window,document,"script","SeniverseWeatherWidget","//cdn.sencdn.com/widget2/static/js/bundle.js?t="+parseInt((new Date().getTime() / 100000000).toString(),10)));
  window.SeniverseWeatherWidget('show', {
    flavor: "bubble",
    location: "WRR2Q2Z7CXWM",
    geolocation: false,
    language: "zh-Hans",
    unit: "c",
    theme: "auto",
    token: "149894cf-6dcb-443d-8e81-e019453aeea7",
    hover: "enabled",
    container: "tp-weather-widget"
  })
</script>